
//create env.local and populate with the following keys: 

NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_KEY=
NEXTAUTH_SECRET=
JWT_SECRET=
DOMAIN=
GNOSIS_RPC_ENDPOINT=
NEXT_PUBLIC_ENABLE_TESTNETS=true
